<form method="post">
    <div id="input_field" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="title" id="title" value="<?=$item[0]['title']?>" required>
        <label class="mdl-textfield__label" for="title">Заголовок</label>
    </div>
    <br>
    <label><textarea placeholder="Текст новини" name="text" required><?php echo(base64_decode($item[0]['text']));?></textarea></label>
    <br>
    <input class="mdl-textfield__input input_date" title="Дата" type="date" name="date" value="<?=$item[0]['date']?>" required/>
    <br>
    <br>
    <br>
    <input type="submit" value="Зберегти" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn_size"/>
</form>



