<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=$PageTitle ?></title>
    <link rel="stylesheet" href="/template/resource/style/style.css">
</head>
<body>
<header>
    <h1 class="header_404"><?=$PageHeaderTitle ?> <br>
        <a class="to_main_404" href="/">Перейти на головну</a></h1>
</header>
</body>
</html>