body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+25,f6290c+67,f02f17+71,e73827+100 */
background: #f85032; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #f85032 0%, #f16f5c 25%, #f6290c 67%, #f02f17 71%, #e73827 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #f85032 0%,#f16f5c 25%,#f6290c 67%,#f02f17 71%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #f85032 0%,#f16f5c 25%,#f6290c 67%,#f02f17 71%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
h1{
    font-size: 2.5em;
    margin-top: 0;
    text-align: center;}
.header_404 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 3em;
    text-align: center;
    margin-top: 5em;}
.to_main_404 {
    font-size: 0.7em;
    margin-top: 1em;}
.mdl-layout__drawer-button {
    outline: none;}
.copy {
    margin: 0;}
.mdl-mini-footer {
    padding-top: 3px;
    padding-bottom: 3px;}
.mdl-button {
    color: #fff;
    opacity: .87;
    text-transform: none;}
.mdl-button:hover {
    opacity: 1;}
.drop_menu {
    margin-right: 0.5em;}
.mdl-navigation__link:hover {
    opacity: 1;}
.mdl-layout__obfuscator, .mdl-layout__drawer, .mdl-layout__header, .mdl-layout__drawer-button {
    position: fixed;}
.mdl-js-layout {
    display: flex;
    flex-direction: column;
    height: 100%;}
main {
    flex: 1 0 auto;
    margin: 100px 50px 50px 50px;
   background: url(../files/images/bg.jpg);
   color: #fff;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;}
footer {
    flex: 0 0 auto;}
.mdl-card {
    width: 100%;
    min-height: 165px;}
main hr:last-child {
    display: none;}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);}
.right-top {
    float: right;
    margin-top: -60px;}
audio {
    width: 100%;}
form {
    text-align: center;}
.btn_size {
    padding: 0 50px;}
#input_field {
    width: 100%;}
.input_date {
    width: 140px;
    float: right;}
#show-dialog {
    float: right;}
.delete-btn {
    width: 100%;}